.cart-no {
    position: absolute;
    top: -5px;
    right: 30px;
    background: red;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}