<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-warning ml-3 my-3">Sort</h5>

            <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">

                <option *ngFor="let sort of SortOptions" [value]="sort.value">
                    {{ sort.name }}
                </option>

            </select>
            <h5 class="text-warning ml-3 my-3">Brands</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" *ngFor="let bra of brands" [class.active]="bra.id === ShopParams.brand"
                    (click)="onBrandSelected(bra.id)" role="button">
                    {{ bra.name }}
                </li>


            </ul>
            <h5 class="text-warning ml-3 my-3">Types</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" *ngFor="let Type of types" [class.active]="Type.id === ShopParams.type"
                    (click)="onTypeSelected(Type.id)" role="button">
                    {{ Type.name }}
                </li>


            </ul>
        </section>
        <section class="col-9">

            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span> Showing <strong>10</strong> of <strong>16</strong> Results</span>
                </header>
                <div class="form-inline mt-2">
                    <input class="form-control" style="width:300px" placeholder="Search" type="text">
                    <button class="btn btn-outline-primary my-2">Search</button>
                    <button class="btn btn-outline-success my-2">Reset</button>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


                <div class="col" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>

                </div>
            </div>
            <pagination [totalItems]="this.totalCount" [itemsPerPage]="ShopParams.PageSize" 
                [boundaryLinks]="true" [rotate]="true" (pageChanged)="onPageChange($event)">
            </pagination>
        </section>
    </div>

</div>